@import url('src/header.css');

:root {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    border-radius: 5px
}


body {
    margin: 0px;
    padding: 0px;
}

button {
    outline: none;
    border: none;
  
    color: white;
    cursor: pointer;

    border-radius: 5px;
}