@import url('src/header.css');
@import url('src/chat-container.css');
@import url('src/css/icons.css');
@import url('src/css/header.css');
@import url('src/css/chat-container.css');
@import url('src/css/settings.css');

html {
    overflow: hidden;
}

:root {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    
    font-family: 'Fira Code', monospace;
    --main-color: rgb(32, 57, 61);
}

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Fira Code', monospace;
}

button {
    outline: none;
    border: none;
  
    background-color: var(--main-color);
    color: white;
    cursor: pointer;

    border-radius: 5px;
}

button:hover {
    background: hsl(from var(--main-color) h s calc(l + 2));
}

button:active {
    background-color: hsl(from var(--main-color) h s calc(l - 2));
}

main {
    background-color: rgb(10, 18, 19);
    height: -webkit-fill-available;
    color: rgb(173, 173, 173);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

\ No newline at end of file
