#sidepanel {
    /* LAYOUT & POSITIONING */
    position: absolute;
}

#chat-container {
    /* DISPLAY & FLEXBOX/GRID */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  
    /* SIZING */
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  
  
    /* EFFECTS */
    transition: all 0.2s;
}

#chatbox {
    /* DISPLAY & FLEXBOX/GRID */
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    /* SIZING */
    min-height: 0;
    width: calc(100% - 10px*2);
  
  
    /* SPACING */
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;

  
    /* TYPOGRAPHY */
    font-size: xx-large;
    font-weight: 700;
}

#chatbox.hasMessage {
    /* DISPLAY & FLEXBOX/GRID */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:flex-start;
  
  
    /* SIZING */
    width: -webkit-fill-available;
    min-height: 0;
  
  
    /* SPACING */
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
  
  
    /* TYPOGRAPHY */
    font-size: large;
    font-weight: normal;
  
  
    /* OTHER */
    overflow-y: auto;
}

.message {
    /* SIZING */
    max-width: 60%;
  
  
    /* SPACING */
    margin: 5px 0;
    padding: 8px 8px;
  
  
    /* TYPOGRAPHY */
    white-space: pre-wrap;
    font-size: small;
  
  
    /* BACKGROUND & BORDERS */
    border-radius: 15px;
    border: 1px solid hsl(from var(--message-box) h s calc(l + 4));
    background: linear-gradient(127deg, hsl(from var(--message-box) h s calc(l + 0.2)), hsl(from var(--message-box) h s calc(l + 3)));
    
  
    /* EFFECTS */
    transition: all 0.2s ease-out;
  
  
    /* OTHER */
    word-wrap: break-word;
    user-select: text;
}

.message:hover {
    background: linear-gradient(127deg, hsl(from var(--message-box) h s calc(l + 0.7)), hsl(from var(--message-box) h s calc(l + 5)));
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bot {
    /* DISPLAY & FLEXBOX/GRID */
    align-self: flex-start;
  
  
    /* BACKGROUND & BORDERS */
    background-color: transparent;
    border-top-left-radius: 2px;
}

.user {
    /* DISPLAY & FLEXBOX/GRID */
    align-self: flex-end;
  
  
    /* BACKGROUND & BORDERS */
    background-color: transparent;
    border-top-right-radius: 2px;
}

#user-entry {
    /* LAYOUT & POSITIONING */
    position: absolute;
    bottom: 0;
  
  
    /* DISPLAY & FLEXBOX/GRID */
    align-items: flex-end;
    display: flex ;
    flex-shrink: 0;
    justify-content: center;

  
    background-color: hsla( from var(--message-box) h s calc(l - 2) / 75%); 
    border: solid 1px var(--text-colors);
    border-radius: 20px;
    
    /* SIZING */
    min-height: 35px;
    width: 80%;
  
  
    /* SPACING */
    margin-bottom: 10px;
    padding: 5px;
    
    /* EFFECTS */
    transition: all 0.1s;
}

#user-entry:hover:not(:has(#form-submit:hover)){
    background-color: hsla( from var(--message-box) h s calc(l - 5) / 75%); 
    outline: solid 1px hsla( from var(--text-colors) h s l / 25%);
}

#user-entry:has(#form-input:focus) {
    background-color: hsla( from var(--message-box) h s calc(l - 5) / 75%); 
    outline: solid 1px hsla( from var(--text-colors) h s l / 25%);
}

#form-input {
    /* DISPLAY & FLEXBOX/GRID */
    box-sizing: border-box;   
  
  
    /* SIZING */
    min-height: 35px;
    max-height: 150px;
    width: -webkit-fill-available;
  
  
    /* SPACING */
    margin-right: 20px;
    margin-left: 5px;
    padding: 10px;
  
  
    /* TYPOGRAPHY */
    line-height: 15px;
    
    
    /* BACKGROUND & BORDERS */
    background: none;
    border: none;

    /* OTHER */
    outline: none;
    overflow-y: auto;
    resize: none;
}

#form-submit {
    /* SIZING */
    height: 35px;
    padding: 5px;
    margin-bottom: 1px;
    
    /* BACKGROUND & BORDERS */
    background-color: hsla( from var(--message-box) h s calc(l - 2) / 75%); 
    border: solid 1px var(--text-colors);
    border-radius: 15px;
}

#form-submit:hover {
    background-color: hsla( from var(--message-box) h s calc(l - 5) / 75%); 
    outline: solid 1px hsla( from var(--text-colors) h s l / 25%);
}

#form-submit.send {
    background-color: hsla( from var(--message-box) h s calc(l - 5) / 75%); 
    outline: solid 1px hsla( from var(--text-colors) h s l / 25%);
}