.header-button {
    /* SIZING */
    height: 25px;
    width: 25px;
}

#app-header {
    /* DISPLAY & FLEXBOX/GRID */
    display: flex;
    flex-direction: row;
  
  
    /* SIZING */
    height: 25px;
    width: 100%;
  
  
    /* SPACING */
    padding: 5px;
  

    /* BACKGROUND & BORDERS */
    background-color: var(--main-color);
    border-radius: 0px;
}

#header-sidepanel-button {
    /* LAYOUT & POSITIONING */
    position: absolute;
    left: 5px;
}

#header-exit-button {
    /* LAYOUT & POSITIONING */
    position: absolute;
    right: 5px;
}

#header-settings-button {
    /* LAYOUT & POSITIONING */
    position: absolute;
    right: 35px;
}

    