@import url('icons.css');
@import url('header.css');
@import url('chat-container.css');
@import url('settings.css');

html {
    overflow: hidden;
}

/* GUIDELINE */
    /* LAYOUT & POSITIONING */
  
  
    /* DISPLAY & FLEXBOX/GRID */
  
  
    /* SIZING */
  
  
    /* SPACING */
  
  
    /* TYPOGRAPHY */
  
  
    /* BACKGROUND & BORDERS */
  
  
    /* EFFECTS */
  
  
    /* OTHER */
/* END OF GUIDELINE */



* {
    /* TYPOGRAPHY */
    font-family: 'Fira Code', monospace;


    /* SPACING */
    margin: 0px;
    padding: 0px;

    /* TYPOGRAPHY */
    color: var(--text-colors);


    /* BACKGROUND & BORDERS */
    border-radius: 5px;
}

button {
    /* TYPOGRAPHY */
    color: white;
  
  
    /* BACKGROUND & BORDERS */
    background-color: var(--main-color);

    border: none;
    border-radius: 5px;
    outline: none;
  

    /* OTHER */
    cursor: pointer;
}
/*
button:hover {
    /* BACKGROUND & BORDERS 
    background: hsl(from var(--main-color) h s calc(l + 2));
}

button:active {
    /* BACKGROUND & BORDERS 
    background-color: hsl(from var(--main-color) h s calc(l - 2));
}
*/
main {
    /* DISPLAY & FLEXBOX/GRID */
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
  
    /* SIZING */
    height: -webkit-fill-available;
  
  
    /* TYPOGRAPHY */
    color: rgb(173, 173, 173);
  
  
    /* BACKGROUND & BORDERS */
    background-color: var(--message-box);
    border-radius: 0px;
  
}