:root {  
    /* VARIABLES */
    --message-box: #0a1213;
    --outline: hsl(from var(--message-box) h s calc((l - 50) * -100%));
    --text-colors: hsl(from var(--message-box) h s calc((l - 10) * -15%));

    --main-color: hsl(from var(--message-box) h s calc(l + 3));
}