#sidepanel {
    position: absolute;
}

#chat-container {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    
    align-content: center ;
    flex-direction: column ;
    justify-items: center ;
}

#user-entry {
    min-height: 30px;
    width: -webkit-fill-available ;

    position: absolute;
    bottom: 0;

    padding-bottom: 10px;
    
    align-items: flex-end;
    display: flex ;
    flex-shrink: 0;
    justify-content: center;
}

#form-input {
    max-height: 150px;
    width: 80%;

    margin-right: 20px;
    line-height: 15px;
    padding: 7.5px;
    height: 30px;
    
    box-sizing: border-box;    
    overflow-y: auto;
    resize: none;
}

#form-submit {
    height: 30px;
}